---
import Layout from "../layouts/Layout.astro";
import "@fontsource/inconsolata";
---

<Layout title="Beautiful Touchdesigner Study">
  <main>
    <p>⚒️ Under Construction ⚒️</p>
    <a href="/">GO BACK</a>
  </main>
</Layout>
<style>
  main {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    font-family: "Inconsolata", monospace;
    font-size: 2rem;
    flex-direction: column;
  }

  main p {
    cursor: default;
  }
  main a {
    text-decoration: none;
    color: var(--main);
  }

  main a:hover {
    text-decoration: dashed underline;
  }
</style>
