---
import Layout from "../layouts/Layout.astro";
import "@fontsource/inconsolata";
---

<Layout title="Beautiful Touchdesigner Study">
  <main>
    <nav></nav>
  </main>

  <style></style>
</Layout>
