---
import Layout from "../layouts/Layout.astro";
import "@fontsource/inconsolata";
---

<Layout title="Beautiful Touchdesigner Study">
  <main>
    <nav>
      <a href="/about">About</a>
      <a href="/archieve">Study Archive</a>
    </nav>
    <h1>Beautiful <span>Touchdesigner</span> Study</h1>
  </main>
</Layout>

<style>
  @media only screen and (max-width: 600px) {
    main {
      margin: auto;
      padding: 1rem;
      max-width: 60ch;
      height: 100vh;
      background-image: url("/assets/imgs/main.png");
      background-position: center;

      font-family: "Inconsolata", monospace;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    /* nav */
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 1.8em;
    }

    nav a {
      margin-bottom: 0.25rem;
      text-decoration: none;
      color: var(--main);
    }

    /* title */
    h1 {
      text-align: right;
      font-size: 1.8em;
      width: 100%;
      margin: 0;
      color: var(--main);
      cursor: default;
    }
  }
</style>
